.custom-shadow{
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
}
hr{
    width: 150px;
    margin: 0 auto;
    border:4px solid #F9A826;
    border-radius: 10px;

}
.bg-welcome{
    background:linear-gradient(135deg,rgb(145, 238, 145),yellow);
    color:white;
}